.hero{
    position: relative;
}

.banner-img {
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption-img{
    width: 90%;
    max-width: 500px;
    margin-bottom:30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
    color: #dad7d8;
}

.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.btn img{
    width: 25px;
}

.btn{
    border: 0;
    outline: 0;
    padding: 8px 25px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.dark-btn{
    color: white;
    background-color: #6d6d6eb3;
}

.btn:hover{
    background-color: #ffffffbf;
}

.dark-btn:hover{
    background-color: #6d6d6e66;
}