* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
